
<app-header></app-header>
<div class="bg-slate-50 min-h-screen">
    <div>
        <app-menu-bar ></app-menu-bar>
    </div>
    <div class="min-h-screen flex flex-row justify-center xl:flex-row p-6 items-center xl:items-start">

        <app-side-bar-menu class="xl:min-h-screen"></app-side-bar-menu>
        
        <div class="flex flex-col xl:flex-row">
            <!-- Goals Dashboard -->
            <div class="max-w-[38rem] w-full flex justify-center">
                <app-goals-dashboard class="w-full"></app-goals-dashboard>
            </div>
        </div>
    </div>
</div>