<header class="bg-gray-300 text-white p-4 flex justify-between items-center">
  <div class="flex items-center space-x-8">
    <img src="http://localhost:4202/assets/fiap_farms_horizontal.png" alt="Logo" class="h-10"> <!-- Updated to use Logo.png -->
    <nav class="hidden md:flex space-x-4">
      <a href="#sobre" class="hover:text-gray-300 text-rose-600">Sobre</a>
      <a href="#servicos" class="hover:text-gray-300 text-rose-600">Serviços</a>
    </nav>
  </div>
  <div class="flex items-center space-x-4">
    <button class="bg-rose-600 text-white px-4 py-2 rounded hover:bg-gray-600 hidden md:block" (click)="openModal(false)">Abrir minha conta</button>
    <button class="bg-rose-100 text-rose-600 border border-rose-600 px-4 py-2 rounded hover:bg-gray-600 hover:text-white hidden md:block" (click)="openModal(true)">Já tenho conta</button>
    <!-- Burger Menu Button -->
    <button class="md:hidden text-rose-600" (click)="toggleMenu()">
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
  </div>
  <!-- Mobile Menu -->
  <div *ngIf="isMenuOpen" class="absolute top-16 left-0 w-full bg-slate-50 text-gray-600 flex flex-col items-center space-y-4 py-4 md:hidden">
    <a href="#sobre" class="hover:text-gray-300">Sobre</a>
    <a href="#servicos" class="hover:text-gray-300">Serviços</a>
    <button class="bg-rose-600 text-white px-4 py-2 rounded hover:bg-rose-600" (click)="openModal(false)">Abrir minha conta</button>
    <button class="bg-black text-rose-600 border border-rose-600 px-4 py-2 rounded hover:bg-rose-600 hover:text-white" (click)="openModal(true)">Já tenho conta</button>
  </div>
</header>

<!-- Modal -->
<app-form-modal *ngIf="isModalOpen" [isLogin]="isLogin" (closeModal)="closeModal()"></app-form-modal>