<div class="bg-white shadow-md rounded-lg p-6 max-w-4xl mx-auto">
  <h2 class="text-xl font-bold text-gray-800 mb-6 text-center">Outros Serviços</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <button (click)="navigate(service.href)" *ngFor="let service of services" class="bg-gray-100 p-4 rounded-lg shadow hover:shadow-lg transition-shadow">
      <div class="flex flex-col items-center">
        <fa-icon [icon]="service.icon" class="text-4xl text-blue-500 mb-4"></fa-icon>
        <h3 class="text-lg font-semibold text-gray-700">{{ service.name }}</h3>
      </div>
    </button>
  </div>
</div>
