<app-header ></app-header>
<div class="bg-green-100 ">
    <div>
        <app-menu-bar ></app-menu-bar>
    </div>
    <div class="min-h-screen flex flex-row gap-8 justify-center xl:flex-row p-6 items-center xl:items-start">

        <app-side-bar-menu class="xl:min-h-screen"></app-side-bar-menu>
        <div class="flex flex-col gap-8 xl:flex-row">
            <div class="flex flex-col gap-4">
                <form class="flex flex-col gap-2">
                    <label for="transactionType">Filtrar por tipo:</label>
                    <select id="transactionType" [formControl]="transactionTypeFilter" (change)="filterTransactions()" class="p-2 border rounded">
                        <option *ngFor="let item of options" [value]="item.value">{{item.label}}</option>
                    </select>
                </form>
                <app-transaction [transactionList]="transactions$ | async" class="max-w-[38rem] w-full flex justify-center"></app-transaction>
            </div>
        </div>
    </div>
</div>